%text-small-caps
  @extend .sans
  font-variant: all-small-caps
  font-weight: 400
  font-size: 14px
  line-height: 1.2

*:focus
  outline: none !important

*::selection
  background: $clr-accent-secondary

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

label,
legend
  @extend %text-small-caps

a
  transition: all 0.3s
  cursor: pointer

a:hover
  background: $link-hover-bg

a:active
  background: $link-active-bg

p > a
    text-decoration: underline
    text-decoration-color: $clr-quaternary
    padding-left: 1px
    padding-right: 1px
P > a:hover
    text-decoration-color: transparent

code
  padding: 0.2em 0.4em
  border: 1px solid darken($clr-bg-secondary, 10)

.small-caps
  @extend %text-small-caps

.textbox-fancy
  font-size: 1.2em
  .label
    @extend %text-small-caps
    font-weight: bold
    color: $clr-tertiary

.text-serif,
.serif
  font-family: $font-family-serif

.text-sans,
.sans
  font-family: $font-family-sans-serif

.article-matches em,
.highlight
  background: fade_out($clr-accent, 0.3)
  outline: 1px solid $clr-accent
  padding: 0 0.2em

.text-tertiary
  color: $clr-tertiary

.text-quaternary
  color: $clr-quaternary

.text-accent
  color: $clr-accent

.text-accent-secondary
  color: $clr-accent-secondary

.bg-tertiary
  background-color: $clr-tertiary

.bg-quaternary
  background-color: $clr-quaternary

.bg-accent
  background-color: $clr-accent

.bg-accent-secondary
  background-color: $clr-accent-secondary

.heading-top
  @extend %text-small-caps
  font-weight: normal
  color: $clr-tertiary
  margin-bottom: 0.5em

.heading-wrapper
  position: relative
  border-bottom: 1px solid $clr-primary
  padding-top: 0em
  margin-bottom: 1em

.float-right
  margin-top: -2.5em

.heading-top
  border-bottom: 1px solid $clr-tertiary
  padding-bottom: 0.5em
  margin-bottom: 1px

.drop-shadow
  box-shadow: 0.3em 0.3em 0 fade-out($clr-primary, 0.8)
